img {
  width: 100%
}

header {
  width: 80%;
  background-color: #fefefe;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  border-radius: 0 0 10px 10px;
  margin: 0 auto;
  margin-bottom: 16px;
}

.logo {
  width: 180px;
  margin: 8px 0;
}

nav .logo {
  display: none;
}

nav ul {
  display: flex;
}

nav ul li a {
  color: #212526;
  display: block;
  margin: 0 2px;
  font-weight: 600;
  font-size: 24px;
  padding: 8px 18px; 
  transition: 0.2s;
  border-radius: 30px;
}

nav ul li a:hover {
  background: #f6f4ff;
}

nav ul li a.active {
  background: #675cff;
  color: #fff;
}